<div style="width: 550px; height: 200px" data-controller="find-room" class="p-6 rounded-lg mx-auto bg-gray-100 shadow-lg">
  <div style="height: 100%" data-find-room-target="pick" class="flex w-full space-x-4">
    <div data-action="click->find-room#showSearch" class="w-full bg-orange-50 rounded-lg border-2 border-orange-200 border-dashed hover:border-orange-400 duration-300 cursor-pointer">
      <span class="text-sm text-gray-600">Find a room</span>
    </div>
    <%= link_to new_room_path, class: "w-full bg-orange-50 rounded-lg border-2 border-orange-200 border-dashed hover:border-orange-400 duration-300", data: {action: "click->modal#open", turbo_frame: :modal} do %>
      <span class="flex  items-center justify-center text-sm text-gray-600">Create new room</span>
    <% end %>
  </div>

  <div data-find-room-target="search" class="hidden">
    <svg data-action="click->find-room#showPick" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer mb-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
    </svg>
    <%= form_with(scope: :room, url: "find_room", method: :get, class: "flex flex-col") do |f| %>
      <%= f.label :name, class: "text-sm" %>
      <%= f.text_field :name, class: "rounded-lg hover:border-blue-600", id: "find_search" %>
      <%= f.submit "Find", class: "text-sm cursor-pointer p-2 rounded-lg bg-orange-200 hover:bg-orange-300 duration-300 mt-2" %>
    <% end %>
  </div>
</div>