<% @title = "Scrumpoker | #{@room.name}" %>
<%= turbo_stream_from dom_id(@room) %>

<div class="w-full">
  <%= turbo_frame_tag "room_estimates_#{@room.id}" do %>
    <%= render "estimates", estimates: @estimates, room_id: @room.id %>
  <% end %>

  <div class="flex space-x-8">
    <%= turbo_frame_tag "room_statistics_#{@room.id}", class: "w-1/3 bg-gray-100 p-3 rounded-lg h-min" do %>
      <%= render "statistics", room: @room %>
    <% end %>
    <div class="flex flex-col w-2/3 text-sm">
      <div class="bg-orange-100 w-full p-4 rounded-lg flex justify-between mb-4 text-base">
        <span>Name</span>
        <span>Estimate</span>
      </div>
      <%= turbo_frame_tag "estimate_table_room_#{@room.id}" do %>
        <%= render "estimate_table", players: @players, room: @room %>
      <% end %>
    </div>
    <div class="w-1/4 bg-gray-100 p-3 rounded-lg h-min">
      <div class="text-orange-500 mb-4">Actions</div>
      <div class="flex flex-col text-sm space-y-2">
        <%= turbo_frame_tag "room_actions_#{@room.id}" do %>
          <%= render "actions", room: @room %>
        <% end %>
        <% if current_user == @room.owner %>
          <div class="grid grid-cols-2 gap-2">
            <%= link_to "Edit estimate", edit_room_path, class: "room-action-button", data: { action: "click->modal#open", turbo_frame: :modal } %>
            <%= link_to "Edit players", room_players_path(@room), class: "room-action-button " %>
            <%= button_to "Delete room", @room, class: "room-action-button ", form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>